name: Spell check

on:
    pull_request:
  
permissions:
    contents: read

jobs:
    spellcheck:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            with:
                persist-credentials: false
    
          - name: Spellcheck all content
            uses: streetsidesoftware/cspell-action@e5a858a18b7e0b56e0342b1dcad796308b7341a2 # v8.1.1
            with:
              config: .cspell.yaml       