name: Spell check

on:
    pull_request:
  
permissions:
    contents: read

jobs:
    spellcheck:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
            with:
                persist-credentials: false
    
          - name: Spellcheck all content
            uses: streetsidesoftware/cspell-action@3294df585d3d639e30f3bc019cb11940b9866e95 # v8.0.0
            with:
              config: .cspell.yaml       