name: Spell check

on:
    pull_request:
  
permissions:
    contents: read

jobs:
    spellcheck:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            with:
                persist-credentials: false
    
          - name: Spellcheck all content
            uses: streetsidesoftware/cspell-action@6f05386161564ebe24dcfa1513cde203230d1edc # v7.1.2
            with:
              config: .cspell.yaml       