name: Spell check

on:
    pull_request:
  
permissions:
    contents: read

jobs:
    spellcheck:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            with:
                persist-credentials: false
    
          - name: Spellcheck all content
            uses: streetsidesoftware/cspell-action@24fa8d3096a314ce263f39578744e9d9f8d80acf # v8.1.2
            with:
              config: .cspell.yaml       